In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('data/data.csv')
data=data[['date','open','high','low','close']]
data=data.set_index('date')
data=data[:100]

#### open, high, low, close 값 이용한 새로운 변수 생성

In [5]:
data_145=data[20:]
data_23=data[21:]
data_678=data[1:]

A=[] #A = 시가, 전날 종가 비율
for i in range(len(data_145)-1):    
    A.append(round((data_145['open'].tolist()[i+1] - data_145['close'].tolist()[i]) / data_145['close'].tolist()[i],3))
A=pd.DataFrame(A)
A.columns=['A']

B=[] #B = 고가, 종가 비율
for i in range(len(data_23)):    
    B.append(round((data_23['high'].tolist()[i] - data_23['close'].tolist()[i]) / data_23['close'].tolist()[i],3))
B=pd.DataFrame(B)
B.columns=['B']

C=[] #C = 저가, 종가 비율
for i in range(len(data_23)):    
    C.append(round((data_23['low'].tolist()[i] - data_23['close'].tolist()[i]) / data_23['close'].tolist()[i],3))
C=pd.DataFrame(C)
C.columns=['C']

D=[] #D = 종가, 전날 종가 비율
for i in range(len(data_145)-1):    
    D.append(round((data_145['close'].tolist()[i+1] - data_145['close'].tolist()[i]) / data_145['close'].tolist()[i+1],3))
D=pd.DataFrame(D)
D.columns=['D']

data_tech=pd.concat([A,B,C,D],axis=1)
data_tech.columns = ['OC','HC','LC','CC']
data_tech.index = [i for i in data.index[:79]]
data= pd.concat([data, data_tech], axis=1)[:79]

In [6]:
data.head()

           open   high   low  close     OC     HC     LC     CC
20160622  10150  10150  9780   9830  0.008  0.023 -0.002 -0.010
20160623   9710   9870  9510   9730  0.008  0.011 -0.014  0.012
20160624   9840   9910  8700   9080  0.006  0.026 -0.005  0.000
20160627   8750   9480  8750   9400  0.006  0.000 -0.022  0.021
20160628   9210   9770  9210   9760  0.000  0.028 -0.002 -0.023