## 군집

- 3년치 데이터를 6개월씩 나눠서 6개의 셋을 활용
- 이를 이용해 연속적으로 교집합이 생기면 군집으로 활용

In [1]:
import pandas as pd
import numpy as np
import re

def clean(readData):
    text = re.sub('[-=+,#/\?:^$.@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'…》]', '', readData)
    return text

In [2]:
original_data=pd.read_csv('data/data.csv')

#### 1번 셋

In [3]:
start_date_01 = '20170101'
finish_date_01 = '20170701'

data_01=original_data
data_01=data_01[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_01=data_01.sort_values(by=['date'])
data_01=data_01.set_index('date')
data_01=data_01.loc[start_date_01:finish_date_01]

code_01=[]
for i in data_01['code'].unique():
    code_01.append(i)
    
df_close_01 = pd.DataFrame()
for i in code_01:
    A=data_01[data_01['code']==i]['close']
    df_close_01=pd.concat([df_close_01,A],axis=1)
df_close_01.columns=[i for i in code_01]
COR_01=df_close_01.corr()

cor_01=[]
for i in range(len(COR_01)):
    A_01=COR_01[COR_01.iloc[:,i]>0.95].iloc[:,i].index
    cor_01.append(['a{}' .format(i) for i in A_01])
stock_cor_01=[]
for i,j in zip(code_01,cor_01):
    if len(j)>4:
        stock_cor_01.append('a{} = {}' .format(i,j))
    else : 
        continue

split_01=[]
for i in range(len(stock_cor_01)):
    info_01 = stock_cor_01[i].split('=')
    split_01.append(info_01)
    
int_code_01,inter_01=[],[]
for i in split_01:
    int_code_01.append(i[0])
    inter_01.append(clean(i[1]))

df_inter_01=pd.DataFrame()
df_inter_01['code']=int_code_01
df_inter_01['inter']=inter_01

#### 2번 셋

In [4]:
start_date_02 = '20170701'
finish_date_02 = '20180101'

data_02=original_data
data_02=data_02[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_02=data_02.sort_values(by=['date'])
data_02=data_02.set_index('date')
data_02=data_02.loc[start_date_02:finish_date_02]

code_02=[]
for i in data_02['code'].unique():
    code_02.append(i)
    
df_close_02 = pd.DataFrame()
for i in code_02:
    A=data_02[data_02['code']==i]['close']
    df_close_02=pd.concat([df_close_02,A],axis=1)
df_close_02.columns=[i for i in code_02]
COR_02=df_close_02.corr()

cor_02=[]
for i in range(len(COR_02)):
    A_02=COR_02[COR_02.iloc[:,i]>0.95].iloc[:,i].index
    cor_02.append(['a{}' .format(i) for i in A_02])
stock_cor_02=[]
for i,j in zip(code_02,cor_02):
    if len(j)>4:
        stock_cor_02.append('a{} = {}' .format(i,j))
    else : 
        continue

split_02=[]
for i in range(len(stock_cor_02)):
    info_02 = stock_cor_02[i].split('=')
    split_02.append(info_02)
    
int_code_02,inter_02=[],[]
for i in split_02:
    int_code_02.append(i[0])
    inter_02.append(clean(i[1]))

df_inter_02=pd.DataFrame()
df_inter_02['code']=int_code_02
df_inter_02['inter']=inter_02

#### 3번 셋

In [5]:
start_date_03 = '20180101'
finish_date_03 = '20180701'

data_03=original_data
data_03=data_03[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_03=data_03.sort_values(by=['date'])
data_03=data_03.set_index('date')
data_03=data_03.loc[start_date_03:finish_date_03]

code_03=[]
for i in data_03['code'].unique():
    code_03.append(i)
    
df_close_03 = pd.DataFrame()
for i in code_03:
    A=data_03[data_03['code']==i]['close']
    df_close_03=pd.concat([df_close_03,A],axis=1)
df_close_03.columns=[i for i in code_03]
COR_03=df_close_03.corr()

cor_03=[]
for i in range(len(COR_03)):
    A_03=COR_03[COR_03.iloc[:,i]>0.95].iloc[:,i].index
    cor_03.append(['a{}' .format(i) for i in A_03])
stock_cor_03=[]
for i,j in zip(code_03,cor_03):
    if len(j)>4:
        stock_cor_03.append('a{} = {}' .format(i,j))
    else : 
        continue

split_03=[]
for i in range(len(stock_cor_03)):
    info_03 = stock_cor_03[i].split('=')
    split_03.append(info_03)
    
int_code_03,inter_03=[],[]
for i in split_03:
    int_code_03.append(i[0])
    inter_03.append(clean(i[1]))

df_inter_03=pd.DataFrame()
df_inter_03['code']=int_code_03
df_inter_03['inter']=inter_03

#### 4번 셋

In [6]:
start_date_04 = '20180701'
finish_date_04 = '20190101'

data_04=original_data
data_04=data_04[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_04=data_04.sort_values(by=['date'])
data_04=data_04.set_index('date')
data_04=data_04.loc[start_date_04:finish_date_04]

code_04=[]
for i in data_04['code'].unique():
    code_04.append(i)
    
df_close_04 = pd.DataFrame()
for i in code_04:
    A=data_04[data_04['code']==i]['close']
    df_close_04=pd.concat([df_close_04,A],axis=1)
df_close_04.columns=[i for i in code_04]
COR_04=df_close_04.corr()

cor_04=[]
for i in range(len(COR_04)):
    A_04=COR_04[COR_04.iloc[:,i]>0.95].iloc[:,i].index
    cor_04.append(['a{}' .format(i) for i in A_04])
stock_cor_04=[]
for i,j in zip(code_04,cor_04):
    if len(j)>4:
        stock_cor_04.append('a{} = {}' .format(i,j))
    else : 
        continue

split_04=[]
for i in range(len(stock_cor_04)):
    info_04 = stock_cor_04[i].split('=')
    split_04.append(info_04)
    
int_code_04,inter_04=[],[]
for i in split_04:
    int_code_04.append(i[0])
    inter_04.append(clean(i[1]))

df_inter_04=pd.DataFrame()
df_inter_04['code']=int_code_04
df_inter_04['inter']=inter_04

#### 5번 셋

In [7]:
start_date_05 = '20190101'
finish_date_05 = '20190701'

data_05=original_data
data_05=data_05[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_05=data_05.sort_values(by=['date'])
data_05=data_05.set_index('date')
data_05=data_05.loc[start_date_05:finish_date_05]

code_05=[]
for i in data_05['code'].unique():
    code_05.append(i)
    
df_close_05 = pd.DataFrame()
for i in code_05:
    A=data_05[data_05['code']==i]['close']
    df_close_05=pd.concat([df_close_05,A],axis=1)
df_close_05.columns=[i for i in code_05]
COR_05=df_close_05.corr()

cor_05=[]
for i in range(len(COR_05)):
    A_05=COR_05[COR_05.iloc[:,i]>0.95].iloc[:,i].index
    cor_05.append(['a{}' .format(i) for i in A_05])
stock_cor_05=[]
for i,j in zip(code_05,cor_05):
    if len(j)>4:
        stock_cor_05.append('a{} = {}' .format(i,j))
    else : 
        continue

split_05=[]
for i in range(len(stock_cor_05)):
    info_05 = stock_cor_05[i].split('=')
    split_05.append(info_05)
    
int_code_05,inter_05=[],[]
for i in split_05:
    int_code_05.append(i[0])
    inter_05.append(clean(i[1]))

df_inter_05=pd.DataFrame()
df_inter_05['code']=int_code_05
df_inter_05['inter']=inter_05

#### 6번 셋

In [8]:
start_date_06 = '20190701'
finish_date_06 = '20200101'

data_06=original_data
data_06=data_06[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_06=data_06.sort_values(by=['date'])
data_06=data_06.set_index('date')
data_06=data_06.loc[start_date_06:finish_date_06]

code_06=[]
for i in data_06['code'].unique():
    code_06.append(i)
    
df_close_06 = pd.DataFrame()
for i in code_06:
    A=data_06[data_06['code']==i]['close']
    df_close_06=pd.concat([df_close_06,A],axis=1)
df_close_06.columns=[i for i in code_06]
COR_06=df_close_06.corr()

cor_06=[]
for i in range(len(COR_06)):
    A_06=COR_06[COR_06.iloc[:,i]>0.95].iloc[:,i].index
    cor_06.append(['a{}' .format(i) for i in A_06])
stock_cor_06=[]
for i,j in zip(code_06,cor_06):
    if len(j)>4:
        stock_cor_06.append('a{} = {}' .format(i,j))
    else : 
        continue

split_06=[]
for i in range(len(stock_cor_06)):
    info_06 = stock_cor_06[i].split('=')
    split_06.append(info_06)
    
int_code_06,inter_06=[],[]
for i in split_06:
    int_code_06.append(i[0])
    inter_06.append(clean(i[1]))

df_inter_06=pd.DataFrame()
df_inter_06['code']=int_code_06
df_inter_06['inter']=inter_06

#### 데이터 교집합 해주기

In [9]:
df_inter_01=df_inter_01.set_index('code')
df_inter_02=df_inter_02.set_index('code')
df_inter_03=df_inter_03.set_index('code')
df_inter_04=df_inter_04.set_index('code')
df_inter_05=df_inter_05.set_index('code')
df_inter_06=df_inter_06.set_index('code')

In [10]:
df_inter_01.columns=['set1']
df_inter_02.columns=['set2']
df_inter_03.columns=['set3']
df_inter_04.columns=['set4']
df_inter_05.columns=['set5']
df_inter_06.columns=['set6']

In [11]:
final_interaction=pd.concat([df_inter_01,df_inter_02,df_inter_03,df_inter_04,df_inter_05,df_inter_06], axis=1, join='inner')

In [12]:
final_interaction.shape

(35, 6)

In [13]:
final_interaction.head()

,set1,set2,set3,set4,set5,set6
code,,,,,,
a190160,a190160 a66570 a143460 a157490 a138530 a22649...,a190620 a189400 a157450 a130730 a153130 a2149...,a239660 a196230 a226340 a31430 a214980 a68930...,a190620 a157450 a214980 a152380 a167860 a1222...,a52860 a157450 a102710 a67990 a88980 a190620 ...,a214980 a35420 a130730 a190620 a190160 a19623...
a143460,a190160 a78935 a66570 a228820 a143460 a157490...,a69500 a152280 a145850 a122630 a123320 a14802...,a145850 a140950 a105190 a170350 a166400 a1434...,a60280 a145850 a211900 a237350 a100910 a22882...,a105780 a226490 a227830 a100910 a122090 a6966...,a122630 a145850 a104520 a168300 a148020 a1220...
a226490,a190160 a78935 a66570 a228820 a143460 a157490...,a69500 a152280 a140950 a145850 a122630 a12332...,a145850 a159800 a140950 a122630 a100910 a1051...,a11080 a134060 a60280 a214390 a83660 a184230 ...,a161510 a226490 a227830 a100910 a122090 a6966...,a122630 a145850 a104520 a168300 a148020 a1220...
a105190,a190160 a78935 a66570 a228820 a143460 a157490...,a69500 a152280 a140950 a122630 a123320 a16830...,a145850 a159800 a140950 a122630 a100910 a1051...,a11080 a134060 a60280 a214390 a83660 a184230 ...,a105780 a161510 a226490 a227830 a100910 a1220...,a122630 a145850 a168300 a148020 a122090 a1837...
a108590,a190160 a78935 a66570 a228820 a143460 a157490...,a69500 a152280 a140950 a122630 a123320 a16830...,a145850 a159800 a140950 a122630 a100910 a1051...,a11080 a134060 a60280 a214390 a18500 a83660 a...,a105780 a161510 a226490 a227830 a100910 a1220...,a122630 a145850 a168300 a148020 a122090 a1837...

#### 교집합으로 나온 각각의 종목을 분석

- 총 35개의 개별 종목이 총 6개의 셋에서 공통적으로 나옴
- 각각의 종목을 확인하여 6개의 셋에서 공통으로 연속해서 상관관계가 높은 종목을 뽑음

In [14]:
def intersect(a, b):
    return list(set(a) & set(b))

##### 35개의 종목 돌려보기

In [15]:
code=[]
for i in final_interaction.index:
    code.append(i)

intersect_code=[]
for i in range(len(final_interaction)):
    a190160_1 = final_interaction.iloc[i,:][0].strip().replace(' ',',').split(",")
    a190160_2 = final_interaction.iloc[i,:][1].strip().replace(' ',',').split(",")
    a190160_3 = final_interaction.iloc[i,:][2].strip().replace(' ',',').split(",")
    a190160_4 = final_interaction.iloc[i,:][3].strip().replace(' ',',').split(",")
    a190160_5 = final_interaction.iloc[i,:][4].strip().replace(' ',',').split(",")
    a190160_6 = final_interaction.iloc[i,:][5].strip().replace(' ',',').split(",")
    a190160=intersect(intersect(intersect(intersect(intersect(a190160_1,a190160_2),a190160_3),a190160_4),a190160_5),a190160_6)
    intersect_code.append(a190160)

In [16]:
final = pd.DataFrame([code, intersect_code]).T
final.columns=['code','inter']

In [17]:
#final.to_csv('data/final_intersection.csv')