## 군집

- 3년치 데이터를 6개월씩 나눠서 6개의 셋을 활용
- 이를 이용해 연속적으로 교집합이 생기면 군집으로 활용

In [1]:
import pandas as pd
import numpy as np
import re

def clean(readData):
    text = re.sub('[-=+,#/\?:^$.@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'…》]', '', readData)
    return text
def intersect(a, b):
    return list(set(a) & set(b))

In [2]:
original_data=pd.read_csv('data/data.csv')

#### 1번 셋

In [3]:
start_date_01 = '20170101'
finish_date_01 = '20170701'

data_01=original_data
data_01=data_01[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_01=data_01.sort_values(by=['date'])
data_01=data_01.set_index('date')
data_01=data_01.loc[start_date_01:finish_date_01]

code_01=[]
for i in data_01['code'].unique():
    code_01.append(i)
    
df_close_01 = pd.DataFrame()
for i in code_01:
    A=data_01[data_01['code']==i]['close']
    df_close_01=pd.concat([df_close_01,A],axis=1)
df_close_01.columns=[i for i in code_01]
COR_01=df_close_01.corr()

cor_01=[]
for i in range(len(COR_01)):
    A_01=COR_01[COR_01.iloc[:,i]>0.70].iloc[:,i].index
    B_01=COR_01[COR_01.iloc[:,i]<0.85].iloc[:,i].index
    AB_01 = (intersect(set(A_01),set(B_01)))
    cor_01.append(['a{}' .format(i) for i in AB_01])
stock_cor_01=[]
for i,j in zip(code_01,cor_01):
    if len(j)>4:
        stock_cor_01.append('a{} = {}' .format(i,j))
    else : 
        continue

split_01=[]
for i in range(len(stock_cor_01)):
    info_01 = stock_cor_01[i].split('=')
    split_01.append(info_01)
    
int_code_01,inter_01=[],[]
for i in split_01:
    int_code_01.append(i[0])
    inter_01.append(clean(i[1]))

df_inter_01=pd.DataFrame()
df_inter_01['code']=int_code_01
df_inter_01['inter']=inter_01

#### 2번 셋

In [4]:
start_date_02 = '20170701'
finish_date_02 = '20180101'

data_02=original_data
data_02=data_02[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_02=data_02.sort_values(by=['date'])
data_02=data_02.set_index('date')
data_02=data_02.loc[start_date_02:finish_date_02]

code_02=[]
for i in data_02['code'].unique():
    code_02.append(i)
    
df_close_02 = pd.DataFrame()
for i in code_02:
    A=data_02[data_02['code']==i]['close']
    df_close_02=pd.concat([df_close_02,A],axis=1)
df_close_02.columns=[i for i in code_02]
COR_02=df_close_02.corr()

cor_02=[]
for i in range(len(COR_02)):
    A_02=COR_02[COR_02.iloc[:,i]>0.70].iloc[:,i].index
    B_02=COR_02[COR_02.iloc[:,i]<0.85].iloc[:,i].index
    AB_02 = (intersect(set(A_02),set(B_02)))
    cor_02.append(['a{}' .format(i) for i in AB_02])
stock_cor_02=[]
for i,j in zip(code_02,cor_02):
    if len(j)>4:
        stock_cor_02.append('a{} = {}' .format(i,j))
    else : 
        continue

split_02=[]
for i in range(len(stock_cor_02)):
    info_02 = stock_cor_02[i].split('=')
    split_02.append(info_02)
    
int_code_02,inter_02=[],[]
for i in split_02:
    int_code_02.append(i[0])
    inter_02.append(clean(i[1]))

df_inter_02=pd.DataFrame()
df_inter_02['code']=int_code_02
df_inter_02['inter']=inter_02

#### 3번 셋

In [5]:
start_date_03 = '20180101'
finish_date_03 = '20180701'

data_03=original_data
data_03=data_03[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_03=data_03.sort_values(by=['date'])
data_03=data_03.set_index('date')
data_03=data_03.loc[start_date_03:finish_date_03]

code_03=[]
for i in data_03['code'].unique():
    code_03.append(i)
    
df_close_03 = pd.DataFrame()
for i in code_03:
    A=data_03[data_03['code']==i]['close']
    df_close_03=pd.concat([df_close_03,A],axis=1)
df_close_03.columns=[i for i in code_03]
COR_03=df_close_03.corr()

cor_03=[]
for i in range(len(COR_03)):
    A_03=COR_03[COR_03.iloc[:,i]>0.70].iloc[:,i].index
    B_03=COR_03[COR_03.iloc[:,i]<0.85].iloc[:,i].index
    AB_03 = (intersect(set(A_03),set(B_03)))
    cor_03.append(['a{}' .format(i) for i in AB_03])
stock_cor_03=[]
for i,j in zip(code_03,cor_03):
    if len(j)>4:
        stock_cor_03.append('a{} = {}' .format(i,j))
    else : 
        continue

split_03=[]
for i in range(len(stock_cor_03)):
    info_03 = stock_cor_03[i].split('=')
    split_03.append(info_03)
    
int_code_03,inter_03=[],[]
for i in split_03:
    int_code_03.append(i[0])
    inter_03.append(clean(i[1]))

df_inter_03=pd.DataFrame()
df_inter_03['code']=int_code_03
df_inter_03['inter']=inter_03

#### 4번 셋

In [6]:
start_date_04 = '20180701'
finish_date_04 = '20190101'

data_04=original_data
data_04=data_04[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_04=data_04.sort_values(by=['date'])
data_04=data_04.set_index('date')
data_04=data_04.loc[start_date_04:finish_date_04]

code_04=[]
for i in data_04['code'].unique():
    code_04.append(i)
    
df_close_04 = pd.DataFrame()
for i in code_04:
    A=data_04[data_04['code']==i]['close']
    df_close_04=pd.concat([df_close_04,A],axis=1)
df_close_04.columns=[i for i in code_04]
COR_04=df_close_04.corr()

cor_04=[]
for i in range(len(COR_04)):
    A_04=COR_04[COR_04.iloc[:,i]>0.70].iloc[:,i].index
    B_04=COR_04[COR_04.iloc[:,i]<0.85].iloc[:,i].index
    AB_04 = (intersect(set(A_04),set(B_04)))
    cor_04.append(['a{}' .format(i) for i in AB_04])
stock_cor_04=[]
for i,j in zip(code_04,cor_04):
    if len(j)>4:
        stock_cor_04.append('a{} = {}' .format(i,j))
    else : 
        continue

split_04=[]
for i in range(len(stock_cor_04)):
    info_04 = stock_cor_04[i].split('=')
    split_04.append(info_04)
    
int_code_04,inter_04=[],[]
for i in split_04:
    int_code_04.append(i[0])
    inter_04.append(clean(i[1]))

df_inter_04=pd.DataFrame()
df_inter_04['code']=int_code_04
df_inter_04['inter']=inter_04

#### 5번 셋

In [7]:
start_date_05 = '20190101'
finish_date_05 = '20190701'

data_05=original_data
data_05=data_05[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_05=data_05.sort_values(by=['date'])
data_05=data_05.set_index('date')
data_05=data_05.loc[start_date_05:finish_date_05]

code_05=[]
for i in data_05['code'].unique():
    code_05.append(i)
    
df_close_05 = pd.DataFrame()
for i in code_05:
    A=data_05[data_05['code']==i]['close']
    df_close_05=pd.concat([df_close_05,A],axis=1)
df_close_05.columns=[i for i in code_05]
COR_05=df_close_05.corr()

cor_05=[]
for i in range(len(COR_05)):
    A_05=COR_05[COR_05.iloc[:,i]>0.70].iloc[:,i].index
    B_05=COR_05[COR_05.iloc[:,i]<0.85].iloc[:,i].index
    AB_05 = (intersect(set(A_05),set(B_05)))
    cor_05.append(['a{}' .format(i) for i in AB_05])
stock_cor_05=[]
for i,j in zip(code_05,cor_05):
    if len(j)>4:
        stock_cor_05.append('a{} = {}' .format(i,j))
    else : 
        continue

split_05=[]
for i in range(len(stock_cor_05)):
    info_05 = stock_cor_05[i].split('=')
    split_05.append(info_05)
    
int_code_05,inter_05=[],[]
for i in split_05:
    int_code_05.append(i[0])
    inter_05.append(clean(i[1]))

df_inter_05=pd.DataFrame()
df_inter_05['code']=int_code_05
df_inter_05['inter']=inter_05

#### 6번 셋

In [8]:
start_date_06 = '20190701'
finish_date_06 = '20200101'

data_06=original_data
data_06=data_06[['date','open','high','low','close','trading_volume','@@','@@','@@','@@','@@','@@',
                 '@@','@@','@@','code']]
data_06=data_06.sort_values(by=['date'])
data_06=data_06.set_index('date')
data_06=data_06.loc[start_date_06:finish_date_06]

code_06=[]
for i in data_06['code'].unique():
    code_06.append(i)
    
df_close_06 = pd.DataFrame()
for i in code_06:
    A=data_06[data_06['code']==i]['close']
    df_close_06=pd.concat([df_close_06,A],axis=1)
df_close_06.columns=[i for i in code_06]
COR_06=df_close_06.corr()

cor_06=[]
for i in range(len(COR_06)):
    A_06=COR_06[COR_06.iloc[:,i]>0.70].iloc[:,i].index
    B_06=COR_06[COR_06.iloc[:,i]<0.85].iloc[:,i].index
    AB_06 = (intersect(set(A_06),set(B_06)))
    cor_06.append(['a{}' .format(i) for i in AB_06])
stock_cor_06=[]
for i,j in zip(code_06,cor_06):
    if len(j)>4:
        stock_cor_06.append('a{} = {}' .format(i,j))
    else : 
        continue

split_06=[]
for i in range(len(stock_cor_06)):
    info_06 = stock_cor_06[i].split('=')
    split_06.append(info_06)
    
int_code_06,inter_06=[],[]
for i in split_06:
    int_code_06.append(i[0])
    inter_06.append(clean(i[1]))

df_inter_06=pd.DataFrame()
df_inter_06['code']=int_code_06
df_inter_06['inter']=inter_06

#### 데이터 교집합 해주기

In [9]:
df_inter_01=df_inter_01.set_index('code')
df_inter_02=df_inter_02.set_index('code')
df_inter_03=df_inter_03.set_index('code')
df_inter_04=df_inter_04.set_index('code')
df_inter_05=df_inter_05.set_index('code')
df_inter_06=df_inter_06.set_index('code')

In [10]:
df_inter_01.columns=['set1']
df_inter_02.columns=['set2']
df_inter_03.columns=['set3']
df_inter_04.columns=['set4']
df_inter_05.columns=['set5']
df_inter_06.columns=['set6']

In [11]:
final_interaction=pd.concat([df_inter_01,df_inter_02,df_inter_03,df_inter_04,df_inter_05,df_inter_06], axis=1, join='inner')

In [12]:
final_interaction.shape

(1368, 6)

In [13]:
final_interaction.head()

,set1,set2,set3,set4,set5,set6
code,,,,,,
a4090,a204450 a139660 a13580 a230480 a35760 a225330...,a16385 a4100 a6660 a225800 a4105 a1020 a78350...,a10240 a227840 a3080 a1550 a15890 a7700 a2070...,a69640 a155660 a53260 a139280 a131090 a20 a20...,a30210 a78340 a69640 a109070 a1550 a11790 a65...,a72710 a19990 a54300 a46110 a7720 a46120 a721...
a225570,a60900 a35620 a24880 a130680 a44380 a65150,a166400 a96770 a3075 a200710 a96775 a20 a7700...,a6880 a101730 a30210 a67170 a9680 a4150 a3580,a30720 a155650 a139270 a155660 a139280 a13109...,a4100 a69640 a220180 a73240 a18470 a200230 a9...,a78860 a77970 a155 a26910 a126880 a12450 a218...
a192440,a217600 a1020 a83470 a54800 a11280 a220180 a1...,a1540 a67080 a3090 a20 a52260 a41510 a64550 a...,a33600 a36480 a30210 a2210 a33540 a15590 a692...,a9730 a35460 a4100 a5380 a390 a86280 a54920 a...,a34310 a104460 a1530 a7700 a130580 a57880 a24...,a30210 a96770 a6660 a96775 a3080 a67080 a1382...
a12620,a155650 a139270 a34830 a139280 a131090 a13929...,a10240 a155660 a104460 a122900 a86040 a65570 ...,a16385 a4105 a11280 a1530 a15890 a17940 a2070...,a4100 a155660 a53260 a34830 a20 a2070 a86040 ...,a166400 a30720 a30210 a4100 a24070 a114190 a1...,a147970 a30210 a520 a155660 a42510 a226320 a1...
a2680,a109070 a32280 a131100 a44060 a34300 a19490 a...,a10240 a16385 a4100 a4105 a155660 a122900 a20...,a16385 a9730 a34310 a3080 a53260 a54800 a6914...,a3075 a138250 a155660 a34830 a1040 a1045 a924...,a166400 a34830 a131090 a69660 a123420 a152100...,a4105 a155660 a65560 a36890 a18470 a4140 a210...

#### 교집합으로 나온 각각의 종목을 분석

- 각각의 종목을 확인하여 6개의 셋중에서 5개 셋에서 공통으로 반복된 종목을 추출

In [14]:
code=[]
for i in final_interaction.index:
    code.append(i)

intersect_code=[]
for i in range(len(final_interaction)):
    a190160_1 = final_interaction.iloc[i,:][0].strip().replace(' ',',').split(",")
    a190160_2 = final_interaction.iloc[i,:][1].strip().replace(' ',',').split(",")
    a190160_3 = final_interaction.iloc[i,:][2].strip().replace(' ',',').split(",")
    a190160_4 = final_interaction.iloc[i,:][3].strip().replace(' ',',').split(",")
    a190160_5 = final_interaction.iloc[i,:][4].strip().replace(' ',',').split(",")
    a190160_6 = final_interaction.iloc[i,:][5].strip().replace(' ',',').split(",")
    a190160_ver1=intersect(intersect(intersect(intersect(a190160_1,a190160_2),a190160_3),a190160_4),a190160_5)
    a190160_ver2=intersect(intersect(intersect(intersect(a190160_1,a190160_2),a190160_3),a190160_4),a190160_6)
    a190160_ver3=intersect(intersect(intersect(intersect(a190160_1,a190160_2),a190160_3),a190160_5),a190160_6)
    a190160_ver4=intersect(intersect(intersect(intersect(a190160_1,a190160_2),a190160_4),a190160_5),a190160_6)
    a190160_ver5=intersect(intersect(intersect(intersect(a190160_1,a190160_3),a190160_4),a190160_5),a190160_6)
    a190160_ver6=intersect(intersect(intersect(intersect(a190160_2,a190160_3),a190160_4),a190160_5),a190160_6)
    a190160=a190160_ver1+a190160_ver2+a190160_ver3+a190160_ver4+a190160_ver5+a190160_ver6
    intersect_code.append(a190160)

In [15]:
final = pd.DataFrame([code, intersect_code]).T
final.columns=['code','inter']

In [16]:
# final.to_csv('data/final_intersection2.csv')