In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

URL = 'https://finance.naver.com/sise/entryJongmok.nhn?&page=' 
   
code_data=[]
for i in range(1,22,1):
        url = URL + str(i)
        r = requests.get(url)
        soup = BeautifulSoup(r.text, 'lxml')
        items = soup.find_all('td',{'class':'ctg'})
        
        for item in items:
            txt = item.a.get('href')
            k = re.search('([\d]+)',txt)
            if k:
                code=k.group()
                name=item.text
                data=code,name
                code_data.append(data)

In [2]:
code_data = pd.DataFrame(code_data)
code_data.columns = ['code','name']
code_data.to_csv('data/code_data.csv')

In [3]:
code_data.head()

     code      name
0  005930      삼성전자
1  000660    SK하이닉스
2  207940  삼성바이오로직스
3  035420     NAVER
4  051910      LG화학